{:deps    {org.clojure/clojure               {:mvn/version "1.9.0"}
           edu.stanford.nlp/stanford-corenlp {:mvn/version "3.9.1"}
           edu.cmu.cs/ark-tweet-nlp          {:mvn/version "0.3.2"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                           :sha     "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
                  :main-opts   ["-m" "cognitect.test-runner"]}}}
